.cart {
    padding: 100px 0;
}
.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top {
    height: 2px;
    width: 70%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius:  50%;
    border: 1px solid#ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.cart-top-item i {
    color: #ddd;
}
.cart-top-cart {
    border: 1px solid #0db7ea;
}
.cart-top-cart i {
    color: #0db7ea;
}
.cart-content-left {
    flex: 2px;
    padding-right: 12px;
}
.cart-content-left table {
    width: 100%;
    text-align: center;
}
:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
.cart-content-left table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}
.cart-content-left table p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}
.cart-content-left table input {
    width: 30px;
}
.cart-content-left table span {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.cart-content-left td {
    padding: 20px 0 ;
    border-bottom:  2px solid #ddd;
}
.cart-content-left td:first-child img {
    width: 130px;
}
.cart-content-left td:nth-child(2) {
    max-width: 130px;
}
.cart-content-left td:nth-child(3) img {
    width: 30px;
}
.cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #ddd;
}
.cart-content-right table {
    width: 100%;
}
.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}
.cart-content-right table td {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td {
    border-bottom: 2px soid #ddd;
}
.cart-content-right tr td:last-child {
    text-align: right;
}
.cart-content-right-text {
    margin: 20px 0;
    text-align: center;
}
.cart-content-right-text p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}
.cart-content-right-button {
    text-align: center;
    align-items: center;
}
.cart-content-right-button button {
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}
.cart-content-right-button button:first-child {
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;
}
.cart-content-right-button button:first-child:hover{
    background-color: #ddd;
}
.cart-content-right-button button:last-child {
    background-color:  black;
    color: #fff;
    border: none;
    border: 1px solid black;
}
.cart-content-right-button button:last-child:hover {
    background-color: #ddd;
    color: black;
}
.cart-content-right-dangnhap {
    margin-top: 20px;
}
.cart-content-right-dangnhap p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}