/* Định nghĩa các màu chủ đề */
:root {
    
    --light-text-color: #f5f5dc; /* Màu nâu đậm cho văn bản sáng */
    --dark-bg-color: #f5f5dc; /* Màu nâu đậm cho nền tối */
    
}

body[data-theme='light'] {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

body[data-theme='dark'] {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #8b4513; /* Màu nâu cho nút */
    color: white;
    border: none;
    border-radius: 15px; /* Bo góc cạnh */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.floating-button:hover {
    background-color: #5d4037; /* Màu nâu đậm hơn cho nút khi hover */
}
