:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
.payment {
    padding: 100px 0;
}
.payment-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top {
    height: 2px;
    width: 70%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.payment-top-item {
    width: 40px;
    height: 40px;
    border-radius:  50%;
    border: 1px solid#ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.payment-top-item i {
    color: #ddd;
}
.payment-top-payment {
    border: 1px solid #0db7ea;
}
.payment-top-payment i {
    color: #0db7ea;
}
.payment-content-left {
    width: 60%;
}
.payment-content-right {
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}
.payment-content-left p,label {
    font-size: 12px;
    font-family: var(--main-text-font);
}
.payment-content-right-button {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #ddd;
}
.payment-content-right-button input {
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}
.payment-content-right-button button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.payment-content-right-mnv select{
    height: 30px;
    width: 100%;
    color: #75758a;
    padding-left: 12px;
}
.payment-content-right-payment {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.payment-content-right-payment button {
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid black;
}
.payment-content-right-payment button:hover {
    background-color: black;
    color: #fff;
}
